<style>
    .table td,
    .table th {
        vertical-align: middle;
    }
</style>

{{#if productos.length}}
<h3>Lista de Productos</h3>
<div class="table-responsive">
    <table class="table table-dark">
        <tr>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Precio</th>
            <th>Codigo</th>
            <th>Stock</th>
            <th>Imagen</th>
        </tr>
        {{#each productos}}
        <tr>
            <td>{{this.title}}</td>
            <td>{{this.description}}</td>
            <td>${{this.price}}</td>
            <td>{{this.code}}</td>
            <td>{{this.stock}}</td>
            <td><img width="50" src={{this.thumbnail}} alt="(no encontrada)"></td>
        </tr>
        {{/each}}
    </table>
</div>
{{/if}}